.new-note-button-wrapper {
  display: flex;
  // align-items: center;
  margin: 1rem;
  justify-content: center;
}

.new-note-button {
  border-radius: 4px;
  &:hover {
    background-color: hotpink;
    cursor: pointer;
  }
}