.new-note-button-wrapper {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.new-note-button {
  border-radius: 4px;
  &:hover {
    background-color: hotpink;
    cursor: pointer;
  }
}

.CardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}