.new-note-wrapper {
  border: 1px solid #d3d3d3;
  min-width: 200px;
  margin: 1.5rem;
  border-radius: 4px;
  box-shadow: 1px 2px 6px grey;
  padding: 1rem;
}

.new-note-inputs {
  width: 99%;
}

.new-note-button-wrapper-2 {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.route-to-home-button,
.new-note-submit-button {
  border-radius: 4px;
  &:hover {
    background-color: hotpink;
    cursor: pointer;
  }
}